/* Ogólne style strony */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Nagłówek */
header {
    background-color: #ff5f5f;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: relative;
}

header .logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 1em auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ff5f5f;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #ec5151;
}

/* Główna zawartość strony */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

section p {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

/* Stopka */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    header .logo {
        width: 100px;
    }
    main {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }
    header .logo {
        width: 80px;
    }
    nav ul li {
        margin: 5px 0;
    }
    footer {
        padding: 5px 0;
    }
}
